<%- include('partials/header') -%>
<%- include('partials/navbar', {active: "Feed"}); %>
<div class="fillBox">
  <a class="fill" href="/profile">Add a Post</a>
</div>
<div class="container">
    <div>
      <ul class="gridBox">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="posted">
            <!-- <h2><%= posts[i].title %></h2> -->
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <!-- <h3 class="col-3">Likes: <%= posts[i].likes %></h3> -->
          </li>
          
        <% } %>
      </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>