<%- include('partials/header') -%>
<div class="fillBox">
  <a class="fill" href="/profile">Profile</a>
  <a class="fill" href="/feed">Feed</a>
  <br><br><br><br>
</div>
<div class="container">
  <input type="checkbox" id="switch">
 <div class="outer">
   <div class="content">
     <label for="switch">
       <span class="toggle">
         <span class="circle"></span>
       </span>
     </label>
     <div class="image-box">
       <img src="<%= post.image%>"/>
     </div>
     <div class="details">
       <div class="name"><%= post.title %></div>
       <div class="job">Likes: <%= post.likes %></div>
       <div class="buttons">
         <p><%= post.caption %></p>
         <form
         class="col-1"
         action="/post/likePost/<%= post.id %>?_method=PUT"
         method="POST"
       >
         <button class="buttonLikes" type="submit" <h3 class="likez">
          Like
         </h3>
         </button>
       </form>

       <%if(post.user == user.id){ %>
       <form
         action="/post/deletePost/<%= post.id %>?_method=DELETE"
         method="POST"
         class="col-3"
       >
       <button class="buttonLikes" id="deleto" type="submit" <h3 class="likez">Delete Post</h3>
       </form>
       <%}%>
       </div>
     </div>
   </div>
 </div>
</div>

<%- include('partials/footer') -%>
